/* --------------------
       Variables 
 --------------------*/

//Colors
$body-background: #f2f4f4;
$card-background: #ffffff;
$text-primary: #475f7b;
$text-secondary: #727e8c;
$text-secondaryLight: #828d99;
$text-success: #317613;
$text-pending: #ffcb2f;
$btn-primary: #5a8dee;
$btn-secondary: #e2ecff;
$btn-shadow: rgba(90, 141, 238, 0.4);
$card-shadow: rgba(25, 42, 70, 0.13);

//Media query screens
$screens: (
  "sm": "640px",
  "md": "768px",
  "lg": "1024px",
);

/* --------------------
     Global Styles 
 --------------------*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  // font-family: 'Rubik', sans-serif;
}

/* --------------------
        Mixins 
 --------------------*/
//Media quiry mixin which takes the min width as argument
@mixin mq($screen) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

/* Mixin for a card defining it's style in diffrent screen sizes
takes how many columns the card spans in sm and lg screens */
@mixin card($sm-span: 6, $lg-span: 4) {
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: -8px 12px 18px $card-shadow;
  background-color: $card-background;
  grid-column: auto / span 1;
  @include mq(map-get($screens, sm)) {
    grid-column: auto / span $sm-span;
  }
  @include mq(map-get($screens, lg)) {
    grid-column: auto / span $lg-span;
  }
}

/* --------------------
        Styling 
 --------------------*/
.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $body-background;
  height: 100%;
  @include mq(map-get($screens, lg)) {
    grid-template-columns: 16rem 1fr;
  }

  &__sidebar {
    display: none;
    height: 100%;
    @include mq(map-get($screens, lg)) {
      display: unset;
    }
  }

  &__cards {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    @include mq(map-get($screens, sm)) {
      grid-template-columns: repeat(12, 1fr);
      gap: 1.5rem;
    }

    &__greeting {
      @include card();
    }

    &__statistics {
      @include card();
    }

    &__multiple {
      @include card();
      //overriding some of the card mixin properities
      background-color: unset;
      box-shadow: unset;
      padding: unset;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;

      &__product {
        @include card(1, 1);
      }

      &__user {
        @include card(1, 1);
      }

      &__revenue {
        @include card(2, 2);
        //overriding grid column in mobile view in mixin
        grid-column: auto / span 2;
      }
    }

    &__summary {
      @include card(12, 8);
    }

    &__transaction {
      @include card();
    }

    &__slider {
      @include card(12, 6);
    }
  }
}
