.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $body-background;
  @include mq(map-get($screens, lg)) {
    grid-template-columns: 16rem 1fr;
  }

  &__sidebar {
    display: none;
    border-right: 1px solid $border;
    padding: 5rem 2rem;
    @include mq(map-get($screens, lg)) {
      display: unset;
    }
    &__link {
      @extend .heading;
    }
  }

  &__cards {
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    max-width: 90rem;
    margin: 0 auto;
    @include mq(map-get($screens, sm)) {
      grid-template-columns: repeat(12, 1fr);
      padding: 5rem 2rem;
      //changed: fixed gap between all cards
      gap: 1.5rem;
    }

    &__greeting {
      //Assigning order for cards to fill any unused grid columns in tablet view
      @include card($order: 1);

      &__title {
        @extend .lg-heading;
      }

      &__desc {
        @extend .grey-sub-heading;
      }

      &__sales {
        display: flex;
        margin-top: 2.75rem;
        &__details {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &__number {
            @extend .large-blue;
          }

          &__desc {
            @extend .grey-sub-heading;
            margin: 0.5rem 0;
          }

          &__btn {
            //changed: centering text in buttons
            @extend .btn;
          }
        }
        &__image {
          width: 50%;
          display: flex;
          justify-content: center;
          &__tag {
            max-width: 100%;
          }
        }
      }
    }

    &__statistics {
      font-family: "Rubik", sans-serif;
      @include card($order: 2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        @extend .heading;
      }

      &__list {
        list-style: none;
        &__item {
          margin-top: 2rem;

          //changed: font size of the list item title to be more consistent with similar titles in page
          &__title {
            font-size: 0.9375rem;
            line-height: 1.2;
            font-weight: 300;
            color: $text-primary;
          }

          &__submitted {
            margin-top: 0.3125rem;
            font-weight: 300;
            font-size: 0.8125rem;
            line-height: 1.15;
            color: $text-primary;

            &__date {
              font-weight: 500;
            }
          }

          &__status {
            margin-top: 0.3125rem;
            font-weight: 300;
            line-height: 1.15;
            font-size: 0.8125rem;
            color: $text-primary;
            &__colored {
              font-weight: 500;
              &--status-approved {
                color: $text-success;
              }
              //changed: status pending color for better user experience to differentiate between different status
              &--status-pending {
                color: $text-pending;
              }
            }
          }
        }
      }
    }

    &__multiple {
      @include card($order: 3);
      //overriding some of the card mixin properities
      background-color: unset;
      box-shadow: unset;
      padding: unset;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content 1fr;
      gap: 1.5rem;

      &__product {
        //changed: used the card mixin which fixed the missing padding bottom and the card is consistent with others
        @include card(1, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__circle {
          width: 2.75rem;
          height: 2.75rem;
          background-color: $circle-green;
          border-radius: 10000px;
        }
        &__title {
          @extend .light-grey-centered;
          margin: 0.5rem 0;
        }
        &__number {
          @extend .large-primary;
        }
      }

      &__user {
        @include card(1, 1);
      }

      &__revenue {
        @include card(2, 2);
        //overriding grid column in mobile view in mixin
        grid-column: auto / span 2;
      }
    }

    &__summary {
      @include card(12, 8, $order: 5);
    }

    &__transaction {
      @include card($order: 4);
      &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
          @extend .heading;
        }

        &__select-container {
          position: relative;
          &__year {
            @extend .grey-sub-heading;
            // Removing the default chevron of select menu
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */
            appearance: none;
            border-radius: 0.25rem;
            border-color: $border;
            width: 5.5rem;
            height: 2rem;
            padding-left: 0.625rem;
            border-width: 1px;
          }

          //Adding chevron
          &__chevron {
            @extend .gg-chevron-down;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            pointer-events: none;
          }
        }
      }
      &__list {
        list-style: none;

        &__item {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          &:nth-of-type(1) {
            margin-top: 1rem;
          }
          &__circle {
            width: 2rem;
            height: 2rem;
            margin-right: 0.875rem;
            border-radius: 10000px;
            &--color {
              &-purplish {
                background-color: $circle-purple;
              }
              &-blueish {
                background-color: $circle-blue;
              }
              &-reddish {
                background-color: $circle-red;
              }
              &-greenish {
                background-color: $circle-green;
              }
            }
          }
          &__details {
            &__title {
              @extend .grey-sub-heading;
            }
            &__subtitle {
              @extend .tiny-grey;
            }
          }
          &__number {
            //changed: number color and font to be consistent with other numbers in page
            @extend .numbers-primary;
            margin-left: auto;
          }
        }
      }
    }

    &__slider {
      //changed: card rounded corners to be more consistent with other cards
      //changed: card width to follow the grid layout
      @include card(12, 6, $order: 6);
      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include mq(map-get($screens, sm)) {
          flex-direction: row;
          text-align: left;
        }
        &__image {
          display: flex;
          justify-content: center;
          width: 100%;
          margin: 0 0 1.5rem 0;
          @include mq(map-get($screens, sm)) {
            width: 45%;
            margin: 0 1.5rem 0 0;
          }
          &__tag {
            max-width: 100%;
          }
        }
        // changed: all text colos to use the colors in page to be more consistent
        &__details {
          width: 100%;
          @include mq(map-get($screens, sm)) {
            width: 55%;
          }

          &__title {
            @extend .bold-heading;
            margin-bottom: 1rem;
          }

          &__desc {
            @extend .description;
            margin-bottom: 1.5rem;
          }
          //changed: button style to be more consistent with others button in page
          &__btn {
            @extend .btn;
          }
        }
      }

      //changed: dots position to the center of card to make it easier for the user to know that the slider is for the whole card
      &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        @include mq(map-get($screens, xlg)) {
          margin-top: unset;
        }
        &__dot {
          width: 0.625rem;
          height: 0.625rem;
          margin: 0 0.25rem;
          border-radius: 1000px;
          background-color: $text-secondaryLight;
          cursor: pointer;

          &--status-active {
            background-color: $text-primary;
          }
        }
      }
    }
  }
}
