//Media query mixin which takes the min width as argument
@mixin mq($screen) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

/* Mixin for a card defining it's style in diffrent screen sizes
takes how many columns the card spans in sm and lg screens */
@mixin card($sm-span: 6, $lg-span: 4) {
  padding: 1.5rem;
  border-radius: 4px;
  background-color: $card-background;
  grid-column: auto / span 1;
  @include mq(map-get($screens, sm)) {
    grid-column: auto / span $sm-span;
  }
  @include mq(map-get($screens, lg)) {
    grid-column: auto / span $lg-span;
  }
}
