//Colors
$body-background: #f2f4f4;
$card-background: #ffffff;
$text-primary: #475f7b;
$text-secondary: #727e8c;
$text-secondaryLight: #828d99;
$text-success: #317613;
$text-pending: #ffcb2f;
$btn-primary: #5a8dee;
$btn-secondary: #e2ecff;
$btn-shadow: rgba(90, 141, 238, 0.4);
$card-shadow: rgba(25, 42, 70, 0.13);
$border: #c7cfd6;
$circle-green: #d2ffe8;
$circle-purple: #e2ecff;
$circle-blue: #ccf5f8;
$circle-red: #ffdede;

//Media query screens
$screens: (
  "sm": "640px",
  "md": "768px",
  "lg": "1024px",
);
